In [7]:

import pandas as pd
barbiedf= pd.read_csv('Barbies_Data.csv')
barbiedf.head(5)

,Unnamed: 0,Title,Product #,Released,Lowest,Average,Highest,URL
0,0,Cinderella,16900,1996,$1,$19,$55,http://www.barbiedb.com/wp-content/uploads/202...
1,1,2019 Holiday,FXF01,2019,$9,$26,$67,http://www.barbiedb.com/wp-content/uploads/202...
2,2,The X-Files Giftset,19630,1998,$11,$28,$57,http://www.barbiedb.com/wp-content/uploads/202...
3,3,Winter in New York Barbie,19429,1998,$4,$26,$106,http://www.barbiedb.com/wp-content/uploads/202...
4,4,Holiday Visions Winter Fantasy Barbie,B2519,2003,$1,$24,$98,http://www.barbiedb.com/wp-content/uploads/202...

In [8]:
barbiedf.describe()

       Unnamed: 0     Released
count  120.000000   120.000000
mean    59.500000  2000.558333
std     34.785054     7.466222
min      0.000000  1980.000000
25%     29.750000  1996.000000
50%     59.500000  1999.000000
75%     89.250000  2004.000000
max    119.000000  2020.000000

In [9]:
barbiedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  120 non-null    int64
 1   Title       120 non-null    object
 2   Product #   120 non-null    object
 3   Released    120 non-null    int64
 4   Lowest      120 non-null    object
 5   Average     120 non-null    object
 6   Highest     120 non-null    object
 7   URL         120 non-null    object
dtypes: int64(2), object(6)
memory usage: 7.6+ KB

In [ ]:
barbiedf